<div class="card" style="width: 18rem;">
    <ul class="list-group list-group-flush">
        <li class="list-group-item"><b>NAME:</b> <%= user.fullName%></li>
        <li class="list-group-item"><b>ADDRESS:</b> <%= user.fullAddress%> </li>
        <li class="list-group-item"><b>EMAIL:</b> <%= user.email%> </li>
        <li class="list-group-item"><b>Phone:</b> <%= user.phonenumber%> </li>
        <li class="list-group-item"><b>Account created:</b> <%= user.created%></li>
    </ul>
</div>